{:paths ["src" "resources"]
 :deps  {org.clojure/clojure     {:mvn/version "1.10.1"}
         com.worksap.nlp/sudachi {:mvn/version "0.3.2"}
         aero                    {:mvn/version "1.1.6"}}
 :aliases
        {:test
         {:extra-paths ["test"]
          :extra-deps  {org.clojure/test.check {:mvn/version "1.0.0"}
                        orchestra              {:mvn/version "2019.02.06-1"}
                        criterium              {:mvn/version "0.4.5"}
                        lambdaisland/kaocha    {:mvn/version "0.0-597"}}}}}
